@use '../shared/button' as b;

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--spacing-400);
    
    &__wrapper {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-200);
        padding: var(--spacing-200);
    }
    
    &__title {
        color: var(--yellow-400);
        font-weight: 200;
        word-break: break-all;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__description {
        word-break: break-all;
        font-weight: 300;
        color: var(--gray-200);
    }
    
    
    &__container {
        width: min(100%, 52rem);
        
        min-height: var(--spacing-600);
        max-height: 32rem;

        padding: var(--spacing-100);
        padding-block-end: var(--spacing-300);
        
        overflow-x: hidden;
        overflow-y: scroll;
        
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-content: stretch;
        row-gap: var(--spacing-100);
    
        background: hsl(from var(--gray-900) h s 27);
        border-radius: 20px;

        border: 5px solid var(--gray-900);

        scroll-behavior: smooth;
        scrollbar-color: var(--yellow-400) var(--gray-900);
        scrollbar-width: auto;
    }
    
    &__create {
        @include b.create-button;
        font-size: var(--big-font);
    }
    
}
