:root {
    /* Color */

    --red-500: hsl(345, 100%, 40%);
    --blue-500: hsl(207, 100%, 35%);
    --yellow-400: hsl(47, 84%, 48%);
    --yellow-500: hsl(43, 100%, 50%);
    --green-500: hsl(138, 54%, 43%);
    --purple-600: hsl(260, 45%, 42%);
    --orange-600: hsl(16, 100%, 50%);
    --gray-200: hsl(0, 0%, 70%);
    --gray-400: hsl(0, 0%, 30%);
    --gray-500: hsl(0, 0%, 20%);
    --gray-600: hsl(216, 5%, 21%);
    --gray-800: hsl(0, 0%, 18%);
    --gray-900: hsl(225, 4%, 18%);
    --white: hsl(0, 0%, 100%);
    --black: #000000;

    /* Spacing */

    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1600: 8rem;
    --spacing-1800: 9rem;
    --spacing-2300: 11.5rem;

    --text-color: white;

    --xsmall-font: clamp(0.8rem, 0.4rem + 2vw, 1.2rem);
    --small-font: clamp(1rem, 0.8rem + 2vw, 1.2rem);
    --medium-font: clamp(1.2rem, 0.8rem + 2vw, 1.6rem);
    --big-font: clamp(1.4rem, 1rem + 2vw, 1.8rem);
    --xbig-font: clamp(1.6rem, 1.2rem + 2vw, 2rem);

    /* Animations */
    --nav-appear: 0.4s;
    --nav-delay: 0s;

    --others-appear:  calc(var(--nav-appear) + var(--nav-delay) + 0.4s);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}


::-moz-selection {
    color: black;
    background-color: var(--yellow-400);
}

::selection {
    color: black;
    background-color: var(--yellow-400);
}

a:focus-visible, button:focus-visible {
    outline: 4px solid var(--yellow-400);
    outline-offset: 5px;
}

a, button {
    transition: outline 0.1s;
}

.spacer {
    width: 5px;
    aspect-ratio: 1/8;
    background-color: hsl(from var(--gray-200) h s l/ 0.2);
    border-radius: 10px;
}


@font-face {
    font-family: "Lexend Deca";
    src: url(Assets/Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.woff2) format("woff2"),
        url(Assets/Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
}

body {
    padding: var(--spacing-400) var(--spacing-200);

    width: 100%;
    min-height: 100vh;
    background-color: var(--gray-600);

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: var(--spacing-800);

    font-family: "Lexend Deca";
}

@keyframes others-appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.banner__body, .banner__button, .lists {
    animation: others-appear var(--others-appear) ease-in;
}

.banner {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    row-gap: var(--spacing-800);
}

@keyframes left-appear {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.banner__nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    
    gap:var(--spacing-200);
    
    padding: var(--spacing-100) var(--spacing-400);
    
    background-color: var(--gray-900);
    border-radius: 10px;
    animation: left-appear var(--nav-appear) ease-out var(--nav-delay);
}

.banner__logo {
    display: flex;
    
    justify-self: start;
    align-items: center;
    

    gap:var(--spacing-100);
    
    color: var(--white);

    border-radius: 10px;

    padding: var(--spacing-100);

    transition: filter 0.2s;
}

.banner__logo:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.banner__icon {
    width: 32px;
    aspect-ratio: 1/1;
}

.banner__name {
    font-size: var(--medium-font);
}

.nav {
    display: grid;
    grid-auto-flow: column;
    place-items:start;
    --nav-underline-color: var(--yellow-400);
    text-transform: lowercase;
}

.nav__links {
    margin-inline-start: var(--spacing-200);
    display: flex;
    justify-content: center;
    gap: var(--spacing-600);
    list-style: none;
    color: var(--white);
}

.nav__link {
    display: flex;
    flex-direction: column;
    transition: color 0.2s;
    font-size: var(--small-font);
}

.nav__link:focus {
    outline-color: var(--yellow-400);
}

.nav__link:hover {
    color: var(--yellow-400);
}

.nav__link::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--nav-underline-color);
    transition: width 0.2s;
}

.nav__link:hover::after {
    width: 100%;
}

.banner__body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing-200);
}

.banner__header {
    font-size: var(--big-font);
    color: var(--white);
    font-weight: 300;
}

.banner__header__span {
    color: var(--yellow-400);
    font-weight: 400;
    font-size: var(--xbig-font);
    transition: filter 0.2s;
}

.banner__header__span:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.banner__text {
    color: var(--gray-200);
    font-weight: 300;
    font-size: var(--xsmall-font);
}

.banner__button {
    justify-self: center;
    
    padding: var(--spacing-200) var(--spacing-400);

    background-color: var(--yellow-400);
    border: 1px solid transparent;

    border-radius: 10px;

    color: var(--gray-900);

    transition: box-shadow 0.2s, border-color 0.2s, color 0.2s, background-color 0.2s;
}

.banner__button:hover {
    color: var(--yellow-400);
    background-color: transparent;
    cursor: pointer;
    border-color: var(--yellow-400);
    box-shadow: 1px 1px 20px 1px hsl(from var(--yellow-400) h s l / 0.4);
}

.banner__create {
    font-size: var(--small-font);
}

.lists {
    display: flex;
    flex-direction: column;
    
    align-items: center;

    gap: var(--spacing-800);
}

.lists__header {
    display: flex;
    align-items: center;

    font-weight: 300;
    color: var(--gray-200);

    border-radius: 10px;

    gap: var(--spacing-300);

    background-color: var(--gray-900);
    padding: var(--spacing-100) var(--spacing-400);
}

.lists__title {
    font-size: var(--small-font);
    font-weight: 300;
}

.hammer {
    display: flex;

    align-items: center;
    justify-content: space-around;

    padding: var(--spacing-100);
    padding-inline-end: var(--spacing-200);
    
    border: 0;
    border-radius: inherit;

    gap:var(--spacing-100);

    background-color: transparent;

    color: var(--gray-200);

    transition: background-color 0.2s, color 0.2s;
}

.hammer:hover {
    background-color: hsl(from var(--gray-400) h s l / 0.5);
    color: var(--white);
    cursor: pointer;
}

.hammer[active] {
    outline: 3px solid var(--gray-200);
    background-color: var(--gray-400);
    color: white;
}

.hammer__icon {
    width: 32px;
    aspect-ratio: 1/1;
}

.hammer__text {
    font-size: var(--small-font);

    font-weight: 400;
}

.lists__container {
    width: 80vw;

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));

    justify-content: center;

    gap: var(--spacing-400);
}

.list {
    --motion: 1deg;
    --hover-color: var(--yellow-400);
    --delete-duration: 0.2s;

    transform-origin: center;

    display: grid;
    place-items: center;
    
    text-align: center;

    border: 1px solid var(--gray-200);
    border-radius: 10px;

    background-color: var(--gray-900);
    padding: var(--spacing-200);

    aspect-ratio: 16/9;

    color: var(--yellow-400);

    font-size: var(--xsmall-font);
    word-break: break-all;

    transition: scale 0.2s, box-shadow 0.2s, color 0.2s, background-color 0.2s;
}

.list:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: 1px 1px 20px 1px hsl(from var(--hover-color) h s l / 0.5);
}

@keyframes delete-animation {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.list[delete] {
    pointer-events: none;
    animation: delete-animation var(--delete-duration) ease-in-out;
}

.lists[hammer] .list:hover {
    --hover-color: var(--orange-600);
    border-color: var(--hover-color);
    color: var(--hover-color);
    animation: shake 0.2s infinite;
}

.lists[hammer] .list--create:hover {
    animation: none;
    --hover-color: var(--yellow-400);
}

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(var(--motion));
    }

    50% {
        transform: rotateZ(calc(-1 * var(--motion)));
    }

    75% {
        transform: rotateZ(var(--motion));
    }

    100%{
        transform: rotateZ(0deg);
    }
}

.list--create {
    border-color: var(--gray-200);
    color: var(--gray-200);
    border-style: dashed;
    background-color: transparent;
}

.list--create:hover {
    border-color: var(--yellow-400);
    color: var(--yellow-400);
}

.dialog[open] {
    place-self: center;

    display: grid;
    grid-auto-flow: row;

    gap: var(--spacing-400);
    border-radius: 20px;

    place-items: center;

    background-color: var(--gray-800);
    padding: var(--spacing-400);
}

.dialog::backdrop {
    background-color: hsl(from black h s l / 0.5);
}

@property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.dialog__close {
    --rotate: 0deg;
    justify-self: start;
    border-image: linear-gradient(var(--rotate), var(--yellow-400), var(--orange-600), var(--red-500), var(--green-500), var(--blue-500), var(--purple-600)) 1;
    padding: var(--spacing-100) var(--spacing-200);
    background-color: transparent;
    font-size: 1rem;
    animation: dialog-close-return 1s;
    font-weight: 300;
    transition: background-color 0.2s, color 0.2s;
}

.dialog__close:hover {
    animation: dialog-close-hover 1s;
    background-color: var(--yellow-400);
    --rotate: 90deg;
}

@keyframes dialog-close-return {
    0% {
        --rotate: 90deg;
    }

    100% {
        --rotate: 0deg;
    }
}

@keyframes dialog-close-hover {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 90deg;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.form__field {
    display: grid;
    gap: var(--spacing-200);
}

.form__label {
    text-transform: lowercase;
    color: var(--gray-200);
    font-weight: 200;
    font-size: var(--small-font);
}

.form__input {
    font-family: 'Lexend Deca';
    font-weight: 200;
    background-color: var(--black);
    border: 0;
    border-radius: 20px;
    padding: var(--spacing-100) var(--spacing-200);
    color: var(--gray-200);
    font-size: var(--medium-font);
    transition: outline 0.2s;
}

.form__input:focus,
.form__textarea:focus {
    outline: 2px solid var(--yellow-400);
}

.form__error {
    justify-self: end;
    text-transform: lowercase;
    opacity: 0;
    color: var(--red-500);
    font-weight: 200;
    transition: opacity 0.3s;
}

.form__input:user-invalid {
    outline: 1px solid red;
}

.form__input:user-invalid+.form__error {
    opacity: 1;
}

.form__textarea {
    border-radius: 20px 20px 0px 20px;
    background: var(--black);
    border: 0;
    resize: vertical;
    min-height: 7rem;
    max-height: 15rem;
    color: var(--white);
    font-family: 'Lexend Deca';
    font-weight: 200;
    padding: var(--spacing-200);
}

.form__submit {
    align-self: center;
    padding: var(--spacing-200) var(--spacing-800);
    min-width: 18rem;
    border: 0;
    border-radius: 20px;
    font-size: var(--medium-font);
    font-family: "Lexend Deca";
    font-weight: 300;
    text-transform: lowercase;
    color: var(--yellow-400);
    background-color: transparent;
    transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;
    box-shadow: 0px 1px 10px 1px hsl(from var(--yellow-500) h s l / 0.5);
}

.form__submit:hover {
    cursor: pointer;
}