:root {
    --red-500: hsl(345, 100%, 40%);
    --blue-500: hsl(207, 100%, 35%);
    --green-500: hsl(138, 54%, 43%);
    --purple-600: hsl(260, 45%, 42%);

    --yellow-400: hsl(47, 84%, 48%);
    --yellow-500: hsl(43, 100%, 50%);
    
    --orange-600: hsl(16, 100%, 50%);
    
    --gray-200: hsl(0, 0%, 70%);
    --gray-400: hsl(0, 0%, 30%);
    --gray-500: hsl(0, 0%, 20%);
    --gray-600: hsl(216, 5%, 21%);
    --gray-800: hsl(0, 0%, 18%);
    --gray-900: hsl(225, 4%, 18%);
    
    --white: hsl(0, 0%, 100%);
    --black: #000000;
}