.dialog {
    &[open] {
        width: min(100% - var(--spacing-800), 30rem);
        place-self: center;
    
        display: grid;
        grid-auto-flow: row;

        place-items: center;
    
        gap: var(--spacing-400);
        
        background-color: var(--gray-800);
        
        border: 5px solid var(--gray-600);
        border-radius: 20px;
        
        padding: var(--spacing-400);
    }
    
    &::backdrop {
        background-color: hsl(from black h s l / 0.6);
    }
    
    &__close {
        justify-self: start;
        padding: var(--spacing-100) var(--spacing-200);
        background-color: var(--gray-200);
        
        border:0;
        border-radius: 20px;

        outline: 5px solid var(--gray-200);
        outline-offset: -1px;

        transition: outline-offset 0.2s, outline-color 0.2s, background-color 0.2s, box-shadow 0.2s;

        &:hover {
            outline-offset: -5px;
            outline-color: var(--yellow-400);
            background-color: var(--yellow-400);

            box-shadow: 0px 0px 10px 1px var(--yellow-400);
        }
    }
}