@use 'button' as b;

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    
    &__field {
        display: grid;
        gap: var(--spacing-200);
    }
    
    &__label {
        text-transform: lowercase;
        color: var(--gray-200);
        font-weight: 200;
        font-size: var(--small-font);
    }
    
    &__input {
        font-family: 'Lexend Deca';
        font-weight: 200;
        background-color: hsl(from var(--gray-900) h s 13);
        border: 0;
        border-radius: 20px;
        padding: var(--spacing-100) var(--spacing-200);
        color: var(--gray-200);
        font-size: var(--medium-font);
        transition: outline 0.2s;

        &:focus {
            outline: 2px solid var(--yellow-400);
        }

        &:user-invalid {
            outline: 1px solid var(--orange-600);
        }

        &:user-invalid+.form__error {
            opacity: 1;
        }
    }

    
    &__error {
        justify-self: end;
        text-transform: lowercase;
        opacity: 0;
        color: var(--orange-600);
        font-weight: 200;
        transition: opacity 0.3s;
    }
    
    &__textarea {
        border-radius: 20px 20px 0px 20px;
        background-color: hsl(from var(--gray-900) h s 13);
        border: 0;
        resize: vertical;
        min-height: 7rem;
        max-height: 15rem;
        color: var(--white);
        font-family: 'Lexend Deca';
        font-weight: 200;
        padding: var(--spacing-200);

        &:focus {
            outline: 2px solid var(--yellow-400);
        }
    }
    
    &__submit {
        @include b.create-button;
        font-size: var(--medium-font);
    }
}
